services:
  {{ service_name }}:
    image: "{{ ecr_registry }}/{{ svc.repository }}:{{ image_tag }}"
    container_name: "{{ service_name }}"
    restart: always
    ports:
      - "{{ svc.app_port }}:{{ svc.container_port }}"
    env_file:
      - .env
    environment:
      TZ: "Asia/Bangkok"
      OTEL_SERVICE_NAME: "{{ service_name }}"
      # OTEL_EXPORTER_OTLP_ENDPOINT: "http://host.docker.internal:4318"
      # OTEL_PROPAGATORS: "tracecontext,baggage"
      # OTEL_TRACES_SAMPLER: "always_on"
      # OTEL_INSTRUMENTATION_PLAY_WS_ENABLED: "true"
      # OTEL_LOGS_EXPORTER: "none"
      OTEL_TRACES_EXPORTER: "none"
      OTEL_METRICS_EXPORTER: "none"
      OTEL_LOGS_EXPORTER: "none"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
{% for v in svc.volumes %}
        - "{{ v }}"
{% endfor %}
        - nfs-data:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:{{ svc.container_port }}{{ svc.health_path }}" ]
      interval: 1m
      timeout: 5s
      retries: 3
      start_period: 15s

volumes:
  nfs-data:
    driver: local
    driver_opts:
      type: nfs
      o: addr={{ svc.nfs_server_ip }},rw,sync,nfsvers=4
      device: ":{{ svc.nfs_device_path }}"
